/* Характеристики страницы */
html,
body {
    margin: 0;
    height: 100%;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;}


/* инф ячейки */
.counter-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 16%; 
    width: 90%;
    z-index: 1;
    margin-top: 5%;}
.counter-text1 {
    color: #F79841; 
    margin-top: -4px;}
.counter-text2 {
    color: #6F72E2; 
    margin-top: -4px;}
.counter-text3 {
    color: #84CB69; 
    margin-top: -4px;}
.counter-value1 {
    margin-top: 6px;}
.inf-icon{
    width: 20px;
    height: 20px;}
.counter-box {
    width: 80px;
    height: 25px; 
    background-color: #32363C; 
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    color: #fff;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-bottom: 10px;
    gap: 0px; }
.counter-text {
    font-size: 15px; 
    margin-bottom: 5px;}
.counter-info {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    margin-top: 0px; }
.counter-icon {
    width: 20px; 
    height: 20px;
    pointer-events: none;
    margin-bottom: 5px; }
.counter-value {
    font-size: 10px; /* Размер текста числа */
    color: #fff;}
/* v */


/* Контейнер для фона */
.background-container {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100.5%;
    height: 100%;
    z-index: -2; }
.square2 {
    position: absolute;
    width: 101%;
    height: 27%; 
    top: 0;
    left: -0.4%;
    background: linear-gradient(180deg, #212429 38.34%, #F9D838 100%);
    z-index: -2;}
.square {
    position: absolute;
    width: 100%;
    height: 100%;  
    top: 15%;
    left: -0.6%;
    margin: 0;
    border: 2px solid #F9D838;
    background: #2C2F35;
    border-radius: 50px 50px 0 0; 
    margin: 0;
    z-index: -1; 
    padding: 10px 0px;
}
/* v */


/* Контейнер основной игры - кликера*/
.game {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Отображает очки - количество кликов, фото*/
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 45%;
}
/* Отображает монетку - изображение возле очков*/
.header img {
    width: 50px;
    height: 50px;
    margin-right: 14px;
    pointer-events: none;
}
/* Само количество очков - кликов*/
.score {
    color: #fff;
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    user-select: none;
}
/* Контейнер шкалы*/
.progress-bar {
    width: 80%;
    height: 10px;
    background: #2a2d33;
    border-radius: 10px;
    margin: 10px 0;
    overflow: hidden;
    position: relative;
}
/* Заполняемая часть шкалы*/
#progress-bar-fill {
    height: 100%;
    background: linear-gradient(90deg, #e8c547, #ef882b);
    width: 0%;  
    transition: width 0.3s ease;  
    border-radius: 10px;
}
/* Основной кликер - контейнер*/
.circle {
    position: relative;
    margin: 20px 0;
    top: -50px;
}
/* Фото кликера*/
.circle img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 0px 0px 16px 0px rgba(138, 143, 254, 0.05);
    transition: transform 0.2s ease;
    --tiltX: 0deg;
    --tiltY: 0deg;
    transform: rotateX(var(--tiltX)) rotateY(var(--tiltY));
    pointer-events: auto;
}
/* +1 анимация*/
.plus-one {
    position: absolute;
    font-family: Inter;
    text-shadow: 0px 0px 4px rgba(234, 182, 64, 0.25);
    font-size: 24px;
    font-weight: 800;
    background: linear-gradient(180deg, #e8c547 0%, #ef882b 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    pointer-events: none;
    user-select: none;
    animation: move-up 2s forwards;
}
/* Его анимация*/
@keyframes move-up {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-50px);
    }
}

.charge-container {
    border: 2px solid #000;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: -50px;
    align-items: center;
}

.charge {
    display: flex;
    align-items: center;
    color: #fff;
}

.charge .energy-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    pointer-events: none;
}

#energy-level {
    font-size: 18px;
    font-weight: 600;
}

.boost {
    display: flex;
    align-items: center;
    justify-content: center;
}

.boost-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    pointer-events: none;
}

#boost-btn {
    background-color: #2C2F35;
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 5px;
    /* cursor: pointer; */
    /* transition: background-color 0.3s; */
}

/* Нижняя панель управления */
.bottom-nav {
    border: 2px solid #000;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    justify-content: space-around;
    align-items: center;
    background-color: #32363c;
    padding: 10px 0px; /* Отступы сверху и снизу 10px, слева и справа 20px */
    border-radius: 12px 12px 0px 0px;
    width: 100%; /* Автоматическая ширина */
    max-width: 960px; /* Максимальная ширина панели */
    margin: 0 auto; /* Центрирует панель на экране */
    box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.bottom-nav button {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
    border: none;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
}

.bottom-nav button img {
    width: 20px;
    height: 20px;
    margin-bottom: 4px;
    pointer-events: none;
}
/* 
.bottom-nav active {
    color: #21242980;
} */
